body {
    background-color: rgb(238, 197, 192);
}

.meal img {
    width: 250px;
}

#Meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.meal {
    border: 1px solid rosybrown;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.meal h3 {
    font-size: 45px;
    color: rgba(250, 128, 114, 0.836);
    background-color: rgba(211, 222, 255, 0.836);
    padding: 5px;
}

.card {
    width: 250px;
    border: 1px solid rosybrown;
    border-radius: 20px;
    padding: 20px;
}