.strMealThumb {
    width: 250px;
}

#Meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.meal {
    border: 1px solid rosybrown;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.meal-name {
    font-size: 45px;
    color: rgba(250, 128, 114, 0.836);
}